// colors 
$color-primary:             #2486ff;
$color-info:                #6089ec;

$color-msg:                 #a2a9b6;
$color-success:             #01cf97;
$color-warning:             #f28c48;
$color-danger:              #f4615c;

$color-msg-bg:              #f3f4f5;
$color-success-bg:          #f0f9eb;
$color-warning-bg:          oldlace;
$color-danger-bg:           #fee;

$color-blue-bg:             #2486ff;

$color-black:               #314659;
$color-black-light:         #222222;
$color-black-light-extra:   #333333;
$color-silver:              #666666;
$color-silver-light:        #888888;
$color-silver-light-extra:  #AAAAAA;
$color-gray:                #BBBBBB;
$color-gray-light:          #CCCCCC;
$color-gray-light-extra:    #DDDDDD;
$color-white-dark:          #eceef3;
$color-white-light:         #FaFaFa;
$color-white:               #FFFFFF;

// border
$color-border:              $color-gray-light-extra;
$color-border-hover:        $color-gray;

// 尺寸
// 圆角
$radius: 0;//2px;
$font-size: 14px;

// 阴影
$popup-shadow: 0 1px 6px rgba(0,0,0,.2);

$height: 32px;
$minHeight: 24px;
$width: 200px;

// mixin
@mixin clear() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}

// 初始化
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body{
  -webkit-text-size-adjust:none;
  height: 100%;
}
body{
  font: $font-size "Monospace Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color-black;
  background-color: $color-white-dark;
}
a{
  color: $color-info;
  text-decoration: none;
  outline: 0;
}

// 重置 placeholder 颜色
input::placeholder, textarea::placeholder {
  color: #a3b1bf;
}

ul, li{
  list-style: none;
}
@import './ionicons';