@import '../scss/base';

.r-table{
  position: relative;
  background-color: $color-white;
  
  table{
    width: 100%;
    border-collapse: collapse;
  }

  tr{
    &:hover{
      background-color: $color-white-light;
    }
  }

  th{
    background-color: #f7f9fa;//$color-white-light;
    position: relative;

    div{
      display: inline-flex;
      align-items: center;
    }

    .r-table-sort{
      margin-left: 10px;
      color: $color-gray;

      display: inline-flex;
      flex-direction: column;

      .r-icon{
        display: inline-flex;
        flex-direction: column;
        font-size: 12px;
        cursor: pointer;

        &:hover{
          color: $color-black;
        }
      }

      .r-table-sort-active{
        color: $color-primary;
      }
    }
  }

  th, td{
    text-align: left;
    height: 46px;
    vertical-align: middle;
    border-bottom: 1px solid $color-border;

    >div{
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .no-data-text{
    &:hover{
      background-color: transparent;
    }

    div{
      text-align: center;
      line-height: 80px;
      height: 80px;
    }
  }

  .summary{
    background-color: $color-white-light;
  }
}

.r-table-checkbox, .r-table-radio{
  .r-icon{
    font-size: 18px;
  }
}

.r-table-border{
  border: 1px solid $color-border;

  th, td{
    border-right: 1px solid $color-border;
  }
}