@import '../scss/base';

$card-head-height: 42px;

.r-card{
  margin: 20px 0;
  border: 1px solid $color-border;
}

.r-card-hover{
  &:hover{
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
  }
}

.r-card-head{
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: $card-head-height;
  padding: 0 10px;
  border-bottom: 1px solid $color-border;
  font-weight: bold;
}

.r-card-body{
  padding: 20px 10px;

  .r-card-head{
    background: $color-white-light;
  }
}