@import '../scss/base';

.r-page{
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .r-page-total{
    margin-right: 10px;
  }

  .r-page-mid{
    margin: 0 10px;
  }
}