@import '../scss/base';

.r-tabs{
  position: relative;
}

.r-tabs-head{
  display: flex;
  border-bottom: 1px solid $color-border;
  margin-bottom: 10px;
  white-space: nowrap;
  height: $height;
}

.r-tabs-tab{
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  padding: 0 10px;
  margin-right: 4px;
  height: $height - 1;
  line-height: $height - 1;
  background-color: $color-white;

  .r-icon{
    margin-right: 5px;
  }
}

.r-tabs-tab-active{
  color: $color-info;
  height: $height;
  border-bottom: 2px solid $color-primary;
}

.r-tabs-pane{
  display: none;
}